body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

*{
    margin:0;
    padding:0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .box{
    
    text-align: left;
    width: 600px;
    height: 400px;
    border: 2px solid black;
    margin: 30px;
    padding: 25px 15px;
    box-sizing:border-box;
}

input[type="text"]{
    text-align: left;
    width: 30%;
    border:2px solid #aaa;
    border-radius: 4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    font-size: 24px;
}

input[type="button"]{
    text-align: center;
    width: 25%;
    border:2px solid #aaa;
    border-radius: 4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    font-size: 24px;
}

select{
    text-align: center;
    width: 30%;
    border:2px solid #aaa;
    border-radius: 4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    font-size: 23px;
}

.div a{
    font-size: 30px;
}

input[type="submit"]{
    text-align: center;
    width: 100%;
    border:2px solid #aaa;
    border-radius: 4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    font-size: 24px;
}

input[type="reset"]{
    text-align: center;
    width: 100%;
    border:2px solid #aaa;
    border-radius: 4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    font-size: 24px;
}